meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="format-detection", content="telephone=no")
meta(name="cmsmagazine", content="6a5de8b480a9f417d465ec3935efb0fd")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="shortcut icon", href="", type="image/x-icon")

title Кристалл
meta(name="description", content="")
meta(name="keywords", content="")
link(rel="stylesheet", href="css/fonts.css")
link(rel="stylesheet", href="css/style.css")
<script src="https://api-maps.yandex.ru/2.1/?apikey=49eed181-7d42-49d6-b4f7-a8fec50cdba6&lang=ru_RU" type="text/javascript">
    </script>
