section.section.catalog
  .container
    .section-top
      .about-section
        img(src="img/catalog-tubes.png", alt="трубы")
        h2.common-h2.catalog-heading Каталог
        p.common-text.common-text__white.catalog-text Доступные цены, выгодные условия сотрудничества и качественная продукция – то, что помогает нашим партнерам создавать и ремонтировать технику, оборудование, промышленные и гражданские объекты.
      a(href="").curcle-link
        .curcle-link__href
          span.underline Скачать прайс
        span .PDF, 1.1 МБ
        .arrow
          img(src="img/arrow-white.png", alt="стрелка")
    .catalog-block
      ul.catalog-list
        li.catalog-item
          a(href="").catalog-item__href-outer
          a(href="").catalog-item__href.common-text.common-text__white
            span Трубы толстостенные
        li.catalog-item
          a(href="").catalog-item__href-outer
          a(href="").catalog-item__href.common-text.common-text__white
            span Трубы котельные
        li.catalog-item
          a(href="").catalog-item__href-outer
          a(href="").catalog-item__href.common-text.common-text__white
            span Трубы газлифтные
        li.catalog-item
          a(href="").catalog-item__href-outer
          a(href="").catalog-item__href.common-text.common-text__white
            span Трубы крекинговые
        li.catalog-item
          a(href="").catalog-item__href-outer
          a(href="").catalog-item__href.common-text.common-text__white
            span Трубы электросварные