section.section.catalog
  .container
    .about-section
      img(src="", alt="трубы")
      h2.common-h2.catalog-heading Каталог
      p.common-text.common-text__white Доступные цены, выгодные условия сотрудничестваи качественная продукция – то, что помогает нашим партнерам создавать и ремонтировать технику, оборудование,промышленные и гражданские объекты.
    .curcle-link
      a(href="").curcle-link__href
        span.underline Скачать прайс
        span .PDF, 1.1 МБ
      .arrow
    .catalog-block
      ul.catalog-list
        li.catalog-item
          a(href="").catalog-item__href
            span Трубы толстостенные
        li.catalog-item
          a(href="").catalog-item__href
            span Трубы котельные
        li.catalog-item
          a(href="").catalog-item__href
            span Трубы газлифтные
        li.catalog-item
          a(href="").catalog-item__href
            span Трубы крекинговые
        li.catalog-item
          a(href="").catalog-item__href
            span Трубы электросварные