section.section.company
  .container
    .section-top
      .about-section
        h2.common-h2.company-heading Наша компания поддерживает самые высокие стандарты обслуживания
        p.common-text.common-text__white.company-text Для этого у нас есть необходимый опыт, подготовленные сотрудники, честное и открытое отношение к партнерам.
      .curcle-link.double-underline
        a(href="").curcle-link__href
          span.underline Подробнее
        a(href="").curcle-link__href
          span.underline О компании
        .arrow
          img(src="img/arrow-white.png", alt="стрелка")
    .partners
      p.partners-heading Мы предлагаем нашим партнерам
      ul.partners-list
        li.partners-list__item.partners-item
          img(src="img/partnerts-icons/icon.png", alt="alt")
          p.common-text.common-text__white Возможность отсрочки платежей до 90 дней
        li.partners-list__item.partners-item
          img(src="img/partnerts-icons/icon-1.png", alt="alt")
          p.common-text.common-text__white Доставку продукции автотранспортом и вагонами
        li.partners-list__item.partners-item
          img(src="img/partnerts-icons/icon-2.png", alt="alt")
          p.common-text.common-text__white Минимальные сроки отгрузки
        li.partners-list__item.partners-item
          img(src="img/partnerts-icons/icon-3.png", alt="alt")
          p.common-text.common-text__white Внимание к пожеланиям и запросам наших заказчиков
