section.section.contacts
  .container
    .contacts-wrapper
      h2.common-h2.contacts-heading Контактная информация
      ul.buildings-list
        li.buildings-list__item.building
          p.building-name Офис
          p.building-address Челябинск, ул. Кулибина, 5,оф. 407
          .building-phone__wrapper
            a(href="").buildings-phone +7 (351) 267-45-96
            a(href="").buildings-phone +7 (351) 267-45-63
            a(href="").buildings-phone +7 (351) 267-45-98
        li.buildings-list__item.building
          p.building-name Склад №1
          p.building-address Челябинск, ул. Матросова, 1 «Б»(Шагольская металлобаза)
          .building-phone__wrapper
            a(href="").buildings-phone +7 (922) 755-79-06
        li.buildings-list__item.building
          p.building-name Склад №2
          p.building-address Челябинск, ул. Героев Танкограда 17 «П»(ЗАО ЦПТК ЧМС)
          .building-phone__wrapper
            a(href="").buildings-phone +7 (951) 489-99-95
    .map
    include ../blocks/__advantages