section.section.company
  .container
    .about-section
      img(src="", alt="трубы")
      h2.common-h2.catalog-heading Наша компания поддерживает самые высокие стандарты обслуживания
      p.common-text.common-text__white Для этого у нас есть необходимый опыт, подготовленные сотрудники, честное и открытое отношение к партнерам.
    .curcle-link
      a(href="").curcle-link__href
        span.underline Подробнее
        span О компании
      .arrow
    .partners
      p.partners-heading Мы предлагаем нашим партнерам
      ul.partners-list
        li.partners-list__item.partners-item
          img(src="", alt="alt")
          p Возможность отсрочки платежей до 90 дней
        li.partners-list__item.partners-item
          img(src="", alt="alt")
          p Доставку продукцииавтотранспортоми вагонами
        li.partners-list__item.partners-item
          img(src="", alt="alt")
          p Минимальные сроки отгрузки
        li.partners-list__item.partners-item
          img(src="", alt="alt")
          p Внимание к пожеланиями запросам нашихзаказчиков
