footer.footer
  .container
    .footer-rights.footer-section.rights
      p.rights-company.common-text.common-text__white © АО ТД «Кристалл», 2020
      .developer-copyright
        a.developer-copyright__link(href="https://www.dextra.ru/" target="_blank" title="Интернет-агентство Dextra" alt="Интернет-агентство Dextra")
          span.developer-copyright__name Dextra
        span.developer-copyright__hint Разработка<br>сайта
    .footer-contacts.footer-section
      ul.footer-contacts__list.contacts-list
        li.contacts-list__item.tel
          a(href="").common-text.common-text__white 8-800-700-7443
          p.common-text.common-text__white Звонок бесплатный
        li.contacts-list__item.address
          a(href="").common-text.common-text__white Челябинск,<br> ул. Кулибина, д. 5, оф. 407
        li.contacts-list__item.email
          a(href="").common-text.common-text__white tdkristall@bk.ru
    .footer-nav.footer-section.nav-left
      ul.footer-nav__list
        li.footer-nav__item
          a(href="").common-text.common-text__white Каталог труб в наличии
        li.footer-nav__item
          a(href="").common-text.common-text__white О компании
        li.footer-nav__item
          a(href="").common-text.common-text__white Склад онлайн
    .footer-nav.footer-section.nav-right
      ul.footer-nav__list
        li.footer-nav__item
          a(href="").common-text.common-text__white Услуги
        li.footer-nav__item
          a(href="").common-text.common-text__white Спецпредложение
        li.footer-nav__item
          a(href="").common-text.common-text__white Контакты

button.btn.btn-up(type='submit')
.popup-overlay.popup--hidden
.popup.callback.popup--hidden
  button.btn.btn-popup__close(type='submit')
    img(src="/app/build/img/popup-close.png", alt="закрыть")
  p.callback__heading.common-text.common-text__black Заказать обратный звонок
  p.callback__text.common-text.common-text__black
    span Пожалуйста, заполните поля ниже, чтобы связаться с нами.
  p.callback__text.common-text.common-text__black
    span.star *
    span  — поля со звёздочкой обязательны для заполнения.
  form(action="").callback__form.callback-form
    .callback-form__container
      .callback-form__wrapper
        .callback-form__block
          input.common-text.common-text__black(type="text" placeholder="Ваше имя")
          label.common-text.common-text__black
            span Ваше имя
            span.star *
        .callback-form__block
          input.common-text.common-text__black(type="tel" placeholder="Номер телефона")
          label.common-text.common-text__black
            span Номер телефона
            span.star *
        .callback-form__block
          input.common-text.common-text__black(type="text" placeholder="E-mail")
          label.common-text.common-text__black
            span E-mail
      .callback-form__wrapper
        .callback-form__block
          textarea.common-text.common-text__black(name="" placeholder="Сообщение")
          label.common-text.common-text__black
            span Сообщение
    .callback-bottom
      .pd-checkbox
        label(for="checkbox-pd")
          input(type="checkbox" id="checkbox-pd")
          span.fake-checkbox
          p.pd.common-text.common-text__black
            span Даю согласие на обработку
            a(href="") персональных данных
      button.btn.btn-form(type='submit') Отправить

  script(src="js/s.js")




