footer.footer
  .container
    .footer-rights.rights
      p.rights-company.common-text.common-text__white © АО ТД «Кристалл», 2020
      p.dextra Dextra
    .footer-contacts
      ul.footer-contacts__list.contacts-list
        li.contacts-list__item.tel
          a(href="") 8-800-700-7443
          p.common-text.common-text__white Звонок бесплатный
        li.contacts-list__item.address
          a(href="").common-text.common-text__white Челябинск, ул. Кулибина, д. 5, оф. 407
        li.contacts-list__item.email
          a(href="").common-text.common-text__white tdkristall@bk.ru
    .footer-nav.nav-left
      ul.footer-nav__list
        li.footer-nav__item
          a(href="") Каталог труб в наличии
        li.footer-nav__item
          a(href="") О компании
        li.footer-nav__item
          a(href="") Склад онлайн
    .footer-nav.nav-right
      ul.footer-nav__list
        li.footer-nav__item
          a(href="") Услуги
        li.footer-nav__item
          a(href="") Спецпредложение
        li.footer-nav__item
          a(href="") Контакты

button.btn.btn-up(type='submit') Up