footer.footer
  .container
    .footer-rights.footer-section.rights
      p.rights-company.common-text.common-text__white © АО ТД «Кристалл», 2020
      p.dextra Dextra
    .footer-contacts.footer-section
      ul.footer-contacts__list.contacts-list
        li.contacts-list__item.tel
          a(href="").common-text.common-text__white 8-800-700-7443
          p.common-text.common-text__white Звонок бесплатный
        li.contacts-list__item.address
          a(href="").common-text.common-text__white Челябинск, ул. Кулибина, д. 5, оф. 407
        li.contacts-list__item.email
          a(href="").common-text.common-text__white tdkristall@bk.ru
    .footer-nav.footer-section.nav-left
      ul.footer-nav__list
        li.footer-nav__item
          a(href="").common-text.common-text__white Каталог труб в наличии
        li.footer-nav__item
          a(href="").common-text.common-text__white О компании
        li.footer-nav__item
          a(href="").common-text.common-text__white Склад онлайн
    .footer-nav.footer-section.nav-right
      ul.footer-nav__list
        li.footer-nav__item
          a(href="").common-text.common-text__white Услуги
        li.footer-nav__item
          a(href="").common-text.common-text__white Спецпредложение
        li.footer-nav__item
          a(href="").common-text.common-text__white Контакты

button.btn.btn-up(type='submit') Up