//- .main-video.video-fix
//-   video(preload="" autoplay="autoplay" muted="muted" loop="loop" poster="img/main.png")
//-     source(src="video/video-main.mp4" type="video/mp4")
header.header
  .container
    include ../blocks/__header-top
    include ../blocks/__header-middle