header.header
  .container
    include ../blocks/__header-top
    include ../blocks/__header-middle
    a(href="").banner.special-banner
      p.special-banner__text Специальное предложение
      img(src="img/percent.png", alt="специальное предложение")
