header.header
  .container
    include ../blocks/__header-top
    include ../blocks/__header-middle
    a(href="").banner.special-banner
      p.special-banner__text Специальное предложение
      img(src="img/percent.png", alt="специальное предложение")
    .cookie.cookie__open
      p.cookie__text.common-text.common-text__black
        span Сайт использует
        a(href="").common-text  файлы «cookie»
        span.common-text.common-text__black  целью персонализации сервисов и повышения удобства пользования веб-сайтом.
      button.btn.btn-cookie.btn-cookie__disagree(type='submit') Не согласен
      button.btn.btn-cookie.btn-cookie__agree(type='submit') Согласен