section.section.offer
  .container
    .special-offer
      img(src="img/offer-tubes.jpg", alt="трубы")
      h3.common-h3.offer-heading.offer-heading__white Специальное предложение
      a(href="").learn-more.offer-link.offer-link__white Узнать подробнее
    .watch
      img(src="img/camera.png", alt="трубы")
      h3.common-h3.offer-heading.offer-heading__dark.watch__heading Склад онлайн
      p.common-text.common-text__black.watch__text Посмотрите на наш склад в режиме реального времени
      a(href="").watch-more.offer-link.offer-link__blue Посмотреть склад

