section.section.offer
  .container
    .special-offer
      img(src="", alt="трубы")
      h3.common-h3.offer-heading Специальное предложение
      a(href="").learn-more.offer-link.offer-link__white Узнать подробнее
    .watch
      img(src="", alt="трубы")
      h3.common-h3.offer-heading Склад онлайн
      p.common-text Посмотрите на наш склад в режиме реального времени
      a(href="").watch-more.offer-link.offer-link__white Посмотреть склад

