.about-section
  position relative
  padding-left 100px
  margin-top: 65px
  img
    position absolute
    top: 0
    left: 0
.section-top
  display flex
  flex-direction row
  justify-content: space-between
.catalog
  padding-top: 182px
  &-heading
    color: #ffffff
    margin-bottom 27px
  &-text
    max-width: 480px
  &-block
    margin-top: 188px
  &-list
    background-color $blue
    display flex
    flex-direction row
    justify-content: space-between
    flex-wrap: wrap
  &-item
    min-width: 475px
    display: flex
    flex-direction row
    justify-content: center
    align-items: center
    text-align center
    padding: 69px 160px
    border-bottom 1px solid #2f7dcd
    border-right 1px solid #2f7dcd
    &:nth-child(4)
      min-width 50%
    &:nth-child(5)
      min-width 50%

.curcle-link
  width: 268px
  height: 268px
  display flex
  flex-direction column
  align-items: center
  border-radius 50%
  background-color $blue
  padding-top: 99px
  span
    font-family "Inter", sans-serif
    font-weight 700
    font-size 11px
    color: #ffffff
    text-transform uppercase
    letter-spacing: 1px
  &__href
    color: #ffffff
    border-bottom 1px solid #ffffff
    margin-bottom 7px
    letter-spacing: 1px
    .underline
      line-height 10px
.arrow
  margin-top: 18px
