.inner.catalog-page
  .nav__button-meat, .nav__button::after, .nav__button:before
    background-color: #ffffff
  .header
    background-image url('/app/build/img/header-background2.jpg')
    background-position center
    background-size cover
    background-repeat no-repeat
    object-fit: cover
    min-height auto
    padding-bottom 34px
  .catalog-tubes
    margin-top: 64px
  .tubes
    &-list
      display flex
      flex-direction row
      justify-content: center
    &-item
      margin-right 38px
      &:last-child
        margin-right 0px
      &__href
        common-text()
        color: #ffffff
        padding-bottom: 5px
        border-bottom 1px solid rgba(255, 255, 255, 0)
        transition all 0.4s
        &:hover
          border-bottom 1px solid rgba(255, 255, 255, 0.4)
          transition all 0.4s
      &__href.active
        border-bottom: 1px solid rgba(255, 255, 255, 1)
        transition all 0.4s


.inner-page
  .container
    max-width: 1440px
    margin: 0 auto
    padding-top: 60px
    padding-bottom 140px
.catalog-date
  display flex
  flex-direction row
  align-items: center
  p
    font-family "Inter", sans-serif
    font-weight 700
    font-size 15px
    margin-left: 15px
    color: #000000
  img
    width: 25px
.filter
  margin-top: 35px
  &-list
    display: flex
    flex-direction row
    justify-content: space-between
  &-item
    display flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    max-width 337px
    &__name
      font-family "Inter", sans-serif
      font-weight 700
      font-size 15px
      line-height 23px
      color: #000000
      margin-bottom 13px
.choices
  width: 336px
  &__item
    common-text()
  &__inner
    padding: 0
    background-color #f1f7fd
    border-radius 0
    border: 1px solid #d0e1f4
  &__list
    padding: 10px 20px
    padding-bottom: 13px
.choices[data-type*=select-one] .choices__inner
  padding-bottom 0px
.is-open .choices__inner
  border-radius 0
  border: 1px solid #d0e1f4
.is-focused .choices__inner, .is-open .choices__inner
  border-radius 0
  border: 1px solid #d0e1f4
.choices[data-type*=select-one]:after
  content: ""
  background-image url('/app/build/img/catalog-arrow.svg')
  width: 14px
  height: 8px
  position absolute
  top: 18px
  right: 19px
  border: none
  transform rotate(0deg)
  transition: all 0.4s
  margin-top 0
.choices__list--dropdown .choices__list
  max-height 493px
  padding-left: 0
.choices__list--dropdown
  background-color #ffffff
  border: 1px solid #d0e1f4
  border-radius 0px
  padding: 0
.is-open .choices__list--dropdown
  background-color #ffffff
  border: 1px solid #d0e1f4
.choices__list--dropdown .choices__item--selectable:after
  display: none
.choices__list--dropdown .choices__item--selectable.is-highlighted
  background-color #126bc6
  color: #ffffff
.choices__list--dropdown .choices__list
  padding-right 10px
  &::-webkit-scrollbar
    width: 4px;
  &::-webkit-scrollbar-button
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height: 10px
  &::-webkit-scrollbar-thumb
    border-radius: 3px;
    background-color:#aecdec;
    transition all 0.3s
  &::-webkit-scrollbar-track
    background-color: #f1f7fd;
  &::-webkit-scrollbar-thumb:hover
    background-color:#126bc6;
    transition all 0.3s

.choices__list--dropdown
  padding-right 8px
.choices[data-type*=select-one].is-open:after
  border: none
  margin-top: 0
  transform rotate(180deg)
  transition: all 0.4s
.choices__list--dropdown .choices__item
    padding-top: 4px;
    padding-left: 22px;
    padding-bottom: 5px;
.catalog-table__wrapper
  margin-top: 40px
  table
    width: 100%
    th
      background-color #126bc6
      font-family "Inter", sans-serif
      font-weight 700
      font-size 15px
      line-height 23px
      color: #ffffff
      text-align left
      padding-top: 15px
      padding-left: 20px
      padding-right: 20px
      padding-bottom 15px
      max-width 288px
    td
      font-family "Inter", sans-serif
      font-size 14px
      line-height 20px
      font-weight 400
      color: #000000
      max-width 288px
      width: 20%
      padding-top: 15px
      padding-left: 20px
      padding-right: 20px
      padding-bottom 15px
      border 1px solid #d0e1f4
      border-top: none
    tr
      td
        &:first-child
          border-left 2px solid #d0e1f4
        &:last-child
          border-right 2px solid #d0e1f4
      &:last-child
        border-bottom 2px solid #d0e1f4
        td
          border-bottom none
.catalog-table__wrapper
  &::-webkit-scrollbar
    width: 4px;
  &::-webkit-scrollbar-button
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height: 10px
  &::-webkit-scrollbar-thumb
    border-radius: 3px;
    background-color:#aecdec;
    transition all 0.3s
  &::-webkit-scrollbar-track
    background-color: #f1f7fd;
  &::-webkit-scrollbar-thumb:hover
    background-color:#126bc6;
    transition all 0.3s

@media screen and (max-width: 1500px)
  .inner-page
    .container
      max-width: 1290px
  .filter
    &-item
      max-width 297px
  .choices
    width: 297px
  .choices__list
    padding: 12px 19px 13px;

@media screen and (max-width: 1365px)
  .inner-page
    .container
      max-width: 900px
      padding-top: 60px
      padding-bottom: 60px
  .inner.catalog-page .tubes-item
    margin-right: 20px;
  .inner.catalog-page .tubes-list
    justify-content: left
  .filter-item
    max-width: 200px;
  .choices
    width: 200px
@media screen and (max-width: 1000px)
  .inner-page
    .container
      max-width: 800px
  .filter
    &-item
      max-width 180px
  .choices
    width: 180px
  .inner.catalog-page .tubes-list
    flex-wrap: wrap
    justify-content: center
  .inner.catalog-page .tubes-item
    margin-bottom 15px
@media screen and (max-width: 767px)
  .inner-page
    .container
      max-width: 550px;
  .catalog-table__wrapper
    overflow-x auto
  .filter-list
    flex-direction: column
  .filter-item
    max-width: none;
    margin-bottom 15px
  .choices
    width: 100%
@media screen and (max-width: 600px)
  .inner-page
    .container
      max-width: 400px;
  .inner.catalog-page .tubes-list
    flex-direction column
    justify-content: flex-start
  .inner.catalog-page .tubes-item
    margin-bottom 15px
@media screen and (max-width: 450px)
  .inner-page
    .container
      max-width: 300px;
      padding: 30px 10px

