.inner.catalog-page
  .header
    background-image url('/app/build/img/header-background2.jpg')
    background-position center
    background-size cover
    background-repeat no-repeat
    object-fit: cover
    min-height auto
    padding-bottom 50px
  .catalog-tubes
    margin-top: 60px
  .tubes
    &-list
      display flex
      flex-direction row
      justify-content: center
    &-item
      margin-right 40px
      &:last-child
        margin-right 0px
      &__href
        common-text()
        color: #ffffff
