.company
  padding-top: 185px
  .container
    position relative
  &-heading
    font-size 30px
    line-height: 36px
    color: #ffffff
    max-width 600px
    margin-bottom 25px
  &-text
    max-width: 530px
  .about-section
    padding-left 0
    margin-top: 60px
.partners
  margin-top: 183px
  background-color $blue
  padding: 60px
  padding-bottom 65px
  &-heading
    font-family "Inter", sans-serif
    font-weight 700
    font-size 24px
    line-height 30px
    color: #ffffff
    margin-bottom 30px
  &-list
    display: flex
    flex-direction row
    justify-content: flex-start
    width: 100%
    &__item
      display: flex
      flex-direction column
      border-right 1px solid #2f7dcd
      padding-left: 60px
      padding-right: 110px
      width: 360px
      &:last-child
        border-right: none
        padding-right 50px
        width: 300px
      &:first-child
        padding-left: 0
        width: 300px
      img
        min-height: 55px
        max-height: 55px
        height: 100%
        width: 55px
        margin-bottom: 18px
        padding-top: 2px
        object-fit: contain
.company .curcle-link__href
  display: flex
  flex-direction column
  justify-content: center
.company .curcle-link
  padding-top 103px
.company .curcle-link .underline
  margin-bottom 10px

.curcle-link.double-underline .underline
  line-height 0px
  margin-bottom 6px
  margin-top: 7px
.curcle-link.double-underline .arrow
  margin-top: 8px
@media screen and (max-width: 1550px)
  .company
    padding-top: 71px
  .company .curcle-link
    padding-top: 81px
  .company-heading
    margin-bottom 28px
  .partners
    margin-top 134px
    padding-top: 45px
    padding-bottom: 42px
  .partners-list__item
    width: 379px
    &:first-child
      padding-left 0
      width: 320px
      padding-right 50px
    &:last-child
      padding-right: 17px;
      width: 320px;
      padding-left: 57px;
@media screen and (max-width: 1365px)
  .partners-list
    flex-direction column
  .partners-list__item
    border: none
  .partners-list__item
    padding-left: 0px
    margin-bottom 20px
  .partners-list__item:last-child
    padding-left: 0px
@media screen and (max-width: 868px)
  .company-heading
    max-width 460px
  .company-text
    max-width: 400px;
@media screen and (max-width: 450px)
  .company-heading
    max-width: 300px
  .company-text
    max-width: 300px
  .partners
    padding: 15px
    padding-top: 45px
    padding-bottom: 42px