.contacts-page
  .header
    min-height: auto
    padding-bottom: 33px
  .buildings-list
    flex-direction row
    flex-wrap: wrap
    max-width: 700px
    justify-content: space-between
  .building
    width: 100%
    margin-bottom 39px
  main
    overflow-x hidden
    .container
      max-width: 1440px
      position relative
      padding-bottom 100px
  .breadcrumbs
    margin-top 0px
  .breadcrumbs-item__href
    color: #000000
    text-decoration-color: rgba(0, 0, 0, 0.2)
  .breadcrumbs-item__arrow
    fill: #126bc6
  .contacts-wrapper
    padding-top: 95px
  .map-container
    position absolute
    top: 0
    right: -185px
  .contacts-heading
    margin-bottom 48px
  .building-address
    margin-bottom 7px
.requisites
  padding: 45px 60px
  background-color #126bc6
  margin-top 80px
  z-index 100
  position: relative
  padding-top: 48px
  padding-left 62px
  padding-bottom: 38px
  &-heading
    color: #ffffff
    font-family "Inter", sans-serif
    font-weight 700
    font-size 24px
  &-list
    margin-top: 30px
    display: flex
    flex-direction row
    margin-top 41px
  &-item
    display flex
    flex-direction: column
    padding-left: 60px
    width: 360px
    border-right 1px solid #2f7dcd
    &:first-child
      padding-left: 0px
      max-width: 300px
    &:last-child
      max-width: 300px
      border-right: none
    &__container
      display flex
      flex-direction: column
      margin-bottom 17px
    &__name
      color: #ffffff
      font-family "Inter", sans-serif
      font-weight 700
      font-size 15px
      line-height 23px
      margin-bottom 0px
    &__number
      color: #ffffff
      font-family "Inter", sans-serif
      font-weight 400
      font-size 15px
      line-height 23px
      max-width 185px
.contacts-page .map-container
  width: auto
.map-wrapper, .map-wrapper .mask
  width: auto
  right: 0

.building-email
  border-bottom 1px solid rgba(77, 77, 77, 1)
  margin-left: 20px
  position relative
  transition: all 0.4s
  &:after
    content: ""
    background-image url('/app/build/img/Mail.svg')
    width: 14px
    height: 11px
    position absolute
    top: 6px
    left: -19px
  &:hover
    border-bottom 1px solid rgba(77, 77, 77, 0)
    transition: all 0.4s
.breadcrumbs-item:last-child a
  pointer-events: none
  text-decoration-color: transparent
.breadcrumbs-item:last-child svg
  display: none

@media screen and (max-width: 1500px)
  .contacts-page
    main
      .container
        max-width: 1284px
        padding-bottom: 40px
  .contacts-page .header
    padding-bottom: 15px
  .contacts-page .buildings-list
    max-width: 575px
  .contacts-page .building
    max-width: 285px
  .requisites-item
    width: 325px
  .requisites-item:last-child
    width: 260px
  .requisites-item:first-child
    width: 260px
@media screen and (max-width: 1365px)
  .contacts-page .map-container
    right: 0
@media screen and (max-width: 1300px)
  .contacts-page
    main
      .container
        max-width: 1120px
      .map-container
        position relative
        top: auto
        right: auto
        height: 600px
      .map
        left: 0
        margin-right: auto
        width: 550px !important
        height: 517px !important
      .map-wrapper
        padding-top: 95px
  .requisites
    margin-top 0px
  .requisites-list
    flex-direction column
  .requisites-item:first-child, .requisites-item:last-child
    width: 100%
    max-width: none
  .requisites-item
    width: 100%
    max-width: none
    padding-left: 0px
    border-right none
    border-bottom 1px solid #2f7dcd
    padding-top: 20px
  .requisites-item:first-child
    padding-top: 0px
  .requisites-item:last-child
    border-bottom none
@media(max-width: 1200px)
  .contacts-page
    main
      .container
        max-width: 950px
      .map
        left: 0
        margin-right: auto
        width: 430px !important
        height: 404px !important
@media screen and (max-width: 1000px)
  .contacts-page
    main
      .container
        max-width: 800px
      .section-top
        flex-direction column
      .map
        width: 700px !important
        height: 658px !important
      .map-wrapper
        right: 0
        left: 0
        padding-top: 15px

  .contacts-page .buildings-list
    max-width: none
  .contacts-page .building
    max-width: none
    width: calc(100% / 3 - 20px)
@media screen and (max-width: 868px)
  .contacts-page
    main
      .container
        max-width: 700px

@media screen and (max-width: 767px)
  .contacts-page
    main
      .container
        max-width: 550px
      .map
        width 540px !important
        height: 507px !important
      .map-container
        height: 507px
  .contacts-page .contacts-wrapper
    padding-top: 40px

@media screen and (max-width: 600px)
  .contacts-page
    main
      .container
        max-width: 400px
      .map
        width 400px !important
        height: 376px !important
      .map-container
        height: 376px
  .contacts-page .building
    width: calc(100% / 2 - 20px)

@media screen and (max-width: 450px)
  .contacts-page
    main
      .container
        max-width: 300px
      .map
        width 300px !important
        height: 282px !important
      .map-container
        height: 282px
  .contacts-page .building
    width: 100%
  .requisites
    padding: 48px 20px 38px 22px