.contacts-page
  .header
    min-height: auto
    padding-bottom: 33px
  .buildings-list
    flex-direction row
    flex-wrap: wrap
    max-width: 700px
    justify-content: space-between
  .building
    width: 100%
    margin-bottom 39px
  main
    .container
      max-width: 1440px
      position relative
      padding-bottom 100px
  .breadcrumbs
    margin-top 0px
  .breadcrumbs-item__href
    color: #000000
    text-decoration-color: rgba(0, 0, 0, 0.2)
  .breadcrumbs-item__arrow
    fill: #126bc6
  .contacts-wrapper
    padding-top: 95px
  .map-container
    position absolute
    top: 0
    right: -185px
  .contacts-heading
    margin-bottom 48px
  .building-address
    margin-bottom 7px
.requisites
  padding: 45px 60px
  background-color #126bc6
  margin-top 80px
  z-index 100
  position: relative
  padding-top: 48px
  padding-left 62px
  padding-bottom: 38px
  &-heading
    color: #ffffff
    font-family "Inter", sans-serif
    font-weight 700
    font-size 24px
  &-list
    margin-top: 30px
    display: flex
    flex-direction row
    margin-top 41px
  &-item
    display flex
    flex-direction: column
    padding-left: 60px
    width: 360px
    border-right 1px solid #2f7dcd
    &:first-child
      padding-left: 0px
      max-width: 300px
    &:last-child
      max-width: 300px
      border-right: none
    &__container
      display flex
      flex-direction: column
      margin-bottom 17px
    &__name
      color: #ffffff
      font-family "Inter", sans-serif
      font-weight 700
      font-size 15px
      line-height 23px
      margin-bottom 0px
    &__number
      color: #ffffff
      font-family "Inter", sans-serif
      font-weight 400
      font-size 15px
      line-height 23px
      max-width 185px