.error404
  .header
    min-height auto
    padding-bottom: 46px
  main
    .container
      padding-bottom: 100px
.error404-wrapper
  margin: 0 auto
  text-align center
  max-width: 700px
  img
    margin-bottom 32px
    margin-right: 10px
.page-not-found
  font-family "Inter", sans-serif
  font-weight 700
  font-size 24px
  line-height 30px
  color: #000000
  margin-bottom 16px
  margin-right: 45px
  &__text
    margin-bottom 16px
    a
      color: #126bc6
      text-decoration-line: underline
      text-decoration-color: #d0e1f4
      transition all 0.4s
      &:hover
        text-decoration-color: #ffffff
        transition all 0.4s
@media screen and (max-width: 1760px)
  .error404
    .container
      max-width: 1500px
@media screen and (max-width: 1500px)
  .error404
    .container
      max-width: 1284px
    .header
      padding-bottom: 37px;
  .error404-wrapper
    max-width: 500px
    img
      width: 400px
  .page-not-found
    margin-right 0px
@media screen and (max-width: 1365px)
  .error404
    .container
      max-width: 900px
@media screen and (max-width: 1000px)
  .error404
    .container
      max-width: 800px
@media screen and (max-width: 868px)
  .error404
    .container
      max-width: 700px
@media screen and (max-width: 767px)
  .error404
    .container
      max-width: 550px
@media screen and (max-width: 600px)
  .error404
    .container
      max-width: 400px
  .error404-wrapper
    img
      width: 300px
@media screen and (max-width: 450px)
  .error404
    .container
      max-width: 300px