.footer
  background-color $blue
  padding-top 65px
  padding-bottom 77px
  &-section
    margin-right 40px
    width: 330px
    &:last-child
      margin-right 0
  .container
    display: flex
    flex-direction row
  &-rights
    display: flex
    flex-direction column
    justify-content: space-between
  &-contacts
    display: flex
    flex-direction column
    justify-content: space-between
    .tel a
      font-family "Inter", sans-serif
      font-size 18px
      line-height 22px
      font-weight 700
      color: #ffffff
    .email a
      text-decoration underline
  &-nav
    display: flex
    flex-direction column
    justify-content: space-between
    &__item
      margin-bottom 35px
      a
        border-bottom 1px solid rgba(255,255,255,0)
        transition all 0.4s
        &:hover
          border-bottom 1px solid rgba(255,255,255,1)
          transition all 0.4s
      &:last-child
        margin-bottom 0px

.contacts-list__item
  margin-bottom 20px
  &:last-child
    margin-bottom 0px
.contacts-list__item.tel
  position relative
  padding-left: 30px
  &::before
    content: ""
    background-image url('/app/build/img/phone-white.png')
    background-repeat no-repeat
    position absolute
    top: 4px
    left: 0
    width: 13px
    height: 13px
.contacts-list__item.address
  position relative
  padding-left: 30px
  &::before
    content: ""
    background-image url('/app/build/img/pin-white.png')
    background-repeat no-repeat
    position absolute
    top: 2px
    left: 0
    width: 13px
    height: 16px
.contacts-list__item.email
  position relative
  padding-left: 30px
  &::before
    content: ""
    background-image url('/app/build/img/mail-white.png')
    background-repeat no-repeat
    position absolute
    top: 2px
    left: 0
    width: 16px
    height: 13px
.developer-copyright
  display inline-block
  margin-bottom 7px
.developer-copyright__link
  cursor: pointer
.developer-copyright__name
  display: inline-block
  padding: 5px 7px
  font-family: "Arial"
  font-size: 12px
  font-weight: 800
  letter-spacing: 1px
  color: #126bc6
  text-transform: uppercase
  background-color: #ffffff
  transition-property: color, background-color
  transition-duration: 0.3s
  transition-timing-function: ease

.developer-copyright__link + .developer-copyright__hint
  margin-left: 10px

.developer-copyright__hint
  display: inline-block
  position: relative
  top: 5px
  font-family: "Verdana"
  font-size: 9px
  line-height: 12px
  letter-spacing: 2px
  color: #95bde0
  text-transform: uppercase


.developer-copyright__link:hover .developer-copyright__name
  background-color: #d0e1f4;
  color: #126bc6;
  transition-property: color, background-color
  transition-duration: 0.3s
  transition-timing-function: ease
.btn-up
  position fixed
  right: 0
  bottom 120px
  background-color #257ed8
  width: 37px
  height: 37px
  transition all 0.4s
  &:hover
    background-color #3b8bdc
    transition all 0.4s
  &::before
    content: ""
    background-image url('/app/build/img/arrow-up.png')
    width: 13px
    height: 5px
    position absolute
    top: 15px
    left: 12px
@media screen and (max-width: 1550px)
  .footer-nav__item
    margin-bottom 32px
  .contacts-list__item
    margin-bottom 18px