.footer
  background-color $blue
  padding-top 65px
  padding-bottom 77px
  &-section
    margin-right 40px
    width: 330px
    &:last-child
      margin-right 0
  .container
    display: flex
    flex-direction row
  &-rights
    display: flex
    flex-direction column
    justify-content: space-between
  &-contacts
    display: flex
    flex-direction column
    justify-content: space-between
    .tel a
      font-family "Inter", sans-serif
      font-size 15px
      line-height 22px
      font-weight 700
      color: #ffffff
    .email a
      text-decoration underline
  &-nav
    display: flex
    flex-direction column
    justify-content: space-between
    &__item
      margin-bottom 35px
      &:last-child
        margin-bottom 0px

.contacts-list__item
  margin-bottom 20px
  &:last-child
    margin-bottom 0px