.header
  background-color #ffffff
  padding-bottom 90px
  min-height: 100vh
  &-top
    display flex
    flex-direction row
    justify-content: space-between
    &__logo
      padding-top: 40px
      width: 120px
  &__middle
    display: flex
    flex-direction row
    justify-content: space-between
    margin-top: 30px
    .common-text
      max-width: 590px
      max-width: 589px;
      margin-left: 100px;
      margin-top: -103px;
.nav
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  padding-top: 35px
  &-info
    margin-bottom 24px
    &__list
      display: flex
      flex-direction row
      justify-content: flex-end
  &-menu
    &__list
      display: flex
      flex-direction row
      justify-content: flex-end
  &-item
    common-text()
    margin-right: 30px
    &:last-child
      margin-right 0
    a
      color: #000000
    &__tel
      margin-right 18px

.video
  &-container
    max-width: 730px
    min-width: 730px
    margin-right 40px
  &-wrapper
    margin: 0 auto

.main-h1
  font-family "Inter"
  font-weight 900
  font-size 76px
  color: #000000
  line-height 76px
  margin-bottom 30px
  text-transform uppercase

.header-nav__address,
.header-nav__email,
.header-nav__tel
  padding-left: 25px
  position relative
  img
    width: 15px
    position absolute
    top: 3px
    left: 2px

.header-nav__email
  span
    text-decoration-line: underline
    text-decoration-color: #333333
    display inline
.header-nav__tel
  font-weight 700
.header-nav__callback
  span
    border-bottom 1px dotted #333333

// .image-in-text
//   position relative
//   background-position center
//   background-size: contain
//   background-repeat: no-repeat
//   width: 100%
//   height: 100%
//   .main-h1
//     position absolute
//     z-index 10
//     min-blend-mode: overlay

.video-wrapper
  position: relative
  width: 895px
  height: 690px
  overflow: hidden
  z-index: 10
  margin-left: -32px
  video
    position absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index 5
    object-fit: cover
  img
    position absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index 7
    object-fit: cover
.text-container
  margin-right auto
  margin-top: 10px
.text-img
  text-transform: uppercase;
  font-weight: 700;
  z-index 10