.header
  background-color #ffffff
  padding-bottom 90px
  min-height: 100vh
  &-top
    display flex
    flex-direction row
    justify-content: space-between
    &__logo
      padding-top: 40px
      width: 120px
  &__middle
    display: flex
    flex-direction row
    justify-content: space-between
    margin-top: 30px
    .common-text
      max-width: 590px
      max-width: 589px;
      margin-left: 100px;
      margin-top: -103px;
.nav
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  padding-top: 35px
  &__button
    position: relative;
    width: 33px;
    height: 20px;
    cursor: pointer;
    z-index: 15;
    margin-left: 30px
    display: none
    &-meat
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color #126bc6
      -webkit-transition: .5s width, .7s background, .5s top, .5s -webkit-transform;
      transition: .5s width, .7s background, .5s top, .5s -webkit-transform;
      transition: .5s width, .7s background, .5s transform, .5s top;
      transition: .5s width, .7s background, .5s transform, .5s top, .5s -webkit-transform;
    &::after
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color #126bc6
      -webkit-transition: .5s width, .7s background, .5s top, .5s -webkit-transform;
      transition: .5s width, .7s background, .5s top, .5s -webkit-transform;
      transition: .5s width, .7s background, .5s transform, .5s top;
      transition: .5s width, .7s background, .5s transform, .5s top, .5s -webkit-transform;
    &::before
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color #126bc6
      -webkit-transition: .5s width, .7s background, .5s top, .5s -webkit-transform;
      transition: .5s width, .7s background, .5s top, .5s -webkit-transform;
      transition: .5s width, .7s background, .5s transform, .5s top;
      transition: .5s width, .7s background, .5s transform, .5s top, .5s -webkit-transform;

  &-info
    margin-bottom 24px
    display: flex
    &__list
      display: flex
      flex-direction row
      justify-content: flex-end
  &-menu
    &__list
      display: flex
      flex-direction row
      justify-content: flex-end
  &-item
    common-text()
    margin-right: 30px
    &:last-child
      margin-right 0
    .nav-item__href
      color: #000000
      transition all 0.2s
      &:hover
        color: #126bc6
        transition all 0.2s
    &__tel
      margin-right 18px

.video
  &-container
    max-width: 730px
    min-width: 730px
    margin-right 40px
  &-wrapper
    margin: 0 auto
    animation: videoOpening 2s ease-in-out

.main-h1
  font-family "Inter"
  font-weight 900
  font-size 76px
  color: #000000
  line-height 76px
  margin-bottom 30px
  text-transform uppercase

.header-nav__address,
.header-nav__email,
.header-nav__tel
  padding-left: 25px
  position relative
  img
    width: 15px
    position absolute
    top: 3px
    left: 2px

.header-nav__tel
  font-weight 700
.header-nav__callback,.header-nav__email
  span
    border-bottom 1px dotted #333333
    &:hover
      border-bottom 1px dotted rgba(0,0,0,0)
      transition all 0.4s

.video-wrapper
  position: relative;
  width: 715px;
  height: 724px;
  overflow: hidden;
  z-index: 10;
  margin-left: 52px;
  video
    position absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index 5
    object-fit: cover
    -webkit-clip-path: polygon(19.898477% 0%,80.913705% 0%,100% 25.621621%,50% 100%,0% 25.621621%)
    clip-path: polygon(19.898477% 0%,80.913705% 0%,100% 25.621621%,50% 100%,0% 25.621621%)
    position: relative;
  img
    position absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index 7
    object-fit: cover
.text-container
  margin-right auto
  margin-top: 10px
.text-img
  text-transform: uppercase;
  font-weight: 700;
  z-index 10
.header .container
  position relative
.banner.special-banner
  position absolute
  right: 0
  bottom: 0px
  display: flex
  flex-direction row
  justify-content: flex-end
  align-items: center
  &:hover
    img
      animation: rotateY infinite 2s

.special-banner__text
  font-family "Inter", sans-serif
  font-weight 700
  color: #0660bf
  text-transform uppercase
  max-width 110px
  font-size 11px
  line-height 18px
  margin-top 10px
  margin-right 10px
  letter-spacing: 1px
.cookie
  flex-direction row
  background-color #f1f7fd
  padding 30px 40px
  z-index 100
  display none
  &__open
    position fixed
    bottom: 90px
    left: 100px
    z-index 999
    visibility visible
    display flex
  &__text
    max-width: 440px
  a
    color: #126bc6
    text-decoration underline

.btn-cookie
  font-family "Inter", sans-serif
  font-weight 700
  letter-spacing: 1px
  font-size 11px
  padding: 15px 35px
  text-transform uppercase
  &__disagree
    color: #000000
    background-color #f1f7fd
    border 1px solid #126bc6
    margin-right: 10px
    margin-left: 25px
    padding-left: 28px
    padding-right: 29px
  &__agree
    color: #ffffff
    background-color #126bc6
    padding-right: 40px
    transition: all 0.4s
    &:hover
      background-color #2a83dd
      transition: all 0.4s
.nav-menu
  .nav-item__href
    position relative
    padding-top 3px
    padding-bottom 3px
    &::before
      content: ""
      background-color #126bc6
      width: 0
      height: 1px
      position absolute
      top: 0
      left: 0
      transition all 0.4s
    &::after
      content: ""
      background-color #126bc6
      width: 0
      height: 1px
      position absolute
      bottom: 0
      left: 0
      transition all 0.4s
    &:hover
      &::before
        width: 100%
        transition all 0.4s
      &::after
        width: 100%
        transition all 0.4s

@media screen and (max-width: 1760px)
  .video-wrapper
    margin-left 0
  .text-container
    svg
      width: 650px
  .header__middle .common-text
    margin-left: 84px
@media screen and (max-width: 1550px)
  .video-wrapper
    width: 515px
    height: 487px
    margin-left: 48px
  .header__middle
    margin-top: 0
  .header-top__logo
    width: 100px
  .video-container
    max-width: none
    min-width: auto
  .video-container
    margin-right: 13px
  .text-img
    font-size 98px
  .header__middle .common-text
    max-width: 490px
    margin-top: -168px
  .banner.special-banner
    bottom -38px
  .special-banner__text
    color: #000000
  .cookie
    padding: 20px 30px
  .cookie__open
    bottom -35px

@media screen and (max-width: 1365px)
  .video-wrapper
    width: 350px
    height: 331px
  .text-container svg
    width: 450px
    height: 280px
  .header__middle .common-text
    margin-top: -95px
    margin-left: 60px
  .banner.special-banner
    bottom: -70px
@media screen and (max-width: 1000px)
  .cookie__open
    position fixed
    bottom: 35px
    left: 30px
  .nav-item
    font-size 12px
    line-height 20px
  .header-nav__address img, .header-nav__email img, .header-nav__tel img
    top: 0
  .header__middle
    flex-direction column
  .video-wrapper
    margin-left auto
  .header-top__logo
    padding-top 35px
@media screen and (max-width: 868px)
  .nav-item
    margin-right: 10px
  .header-top__logo
    width: 70px

@media screen and (max-width: 767px)
  .header__middle .common-text
    margin-left: 14px
  .curcle-link
    position relative
  .nav__button
    display block
  .header-nav__address, .header-nav__email, .nav-menu
    display: none
  .burger-menu
    .header-nav__address, .header-nav__email, .nav-menu
      display block
@media screen and (max-width: 600px)
  .text-container svg
    width: 400px;
  .nav__button
    margin-left: 0
@media screen and (max-width: 450px)
  .video-wrapper
    width: 300px;
    height: 284px;
  .text-container svg
    width: 300px

.img-in-text
  animation: imgInText infinite 5s ease-in-out backwards


.opening
  .header-top
    position fixed
    top: -200px
    opacity: 0
    visibility hidden
    transition: opacity 1s, top 1s
    margin-bottom: 200px
  .text-container
    opacity 0
    transition: opacity 2s
  .cookie
    opacity 0
    transition: opacity 3s
.catalog.opening
  padding-top 500px
  opacity 0
  transition: all 1s
.company.opening
  padding-top 500px
  opacity 0
  transition: all 1s
.header-top
  position relative
  top: 0px
  opacity: 1
  visibility visible
  margin-bottom 0
  transition: opacity 1s, top 1s
.text-container
  opacity 1
  transition: opacity 2s
.cookie
  opacity 1
  transition: opacity 3s

.burger
  &-menu
    display block
    width: 0%
    height: 100%
    position fixed
    top: 0
    right: 0
    background-color #126bc6
    z-index 100
    transition all 1s
    .info-list, .nav-list
      flex-direction column
      width: 100%
    .header-nav__address, .header-nav__email, .header-nav__tel
      padding: 0
      img
        display none
    .nav-item
      font-size: 15px;
      line-height: 23px;
      .nav-item__href
        color: #ffffff
  &-container
    margin: 100px auto
    max-width: 310px;
    width: 100%
    text-align: center;
    opacity 0
    transition all 0.4s
  &-close
    position absolute
    top: 50px
    left: 50px
    opacity 1
    transition: all 0.4s
    &:hover
      opacity 0.6
      transition: all 0.4s

.burger-menu.js-menu__open
  width: 100%
  transition: all 1s
  .burger-container
    opacity 1
    transition all 0.4s
