.offer
  width: 100%
  height: auto
  background-color: #ffffff
  padding-top: 40px
  padding-bottom 40px
  .container
    display flex
    flex-direction row
    justify-content: space-between
  &-heading
    font-family "Inter", sans-serif
    font-weight 700
    font-size 30px
    line-height 36px
    position relative
    z-index 2
    margin-bottom 37px
    &__white
      color: #ffffff
    &__dark
      color: #000000
  &-link
    font-family "Inter", sans-serif
    font-size 11px
    font-weight 700
    text-transform uppercase
    padding: 17px 30px
    position relative
    z-index 2
    letter-spacing: 1px
    &__white
      background-color #ffffff
      color: #000000
      padding-right 93px
      transition: all 0.4s
      &:hover
        background-color #257ed8
        color: #ffffff
        transition: all 0.4s
        path.line
          fill: #ffffff
          transition: all 0.4s
        path.tre
          fill: none
          stroke: #ffffff
          transition: all 0.4s
      svg
        position: absolute;
        top: 17px;
        right: 28px;
      path.line
        fill: #000000
        transition: all 0.4s
      path.tre
        fill: none
        stroke: #000000
        transition: all 0.4s

    &__blue
      background-color $blue
      color: #ffffff
      padding-right: 88px
      padding-top: 19px
      padding-bottom 19px
      transition: all 0.4s
      svg
        position: absolute;
        top: 17px;
        right: 28px;
      path.line
        fill: #ffffff
        transition: all 0.4s
      path.tre
        fill: none
        stroke: #ffffff
        transition: all 0.4s
      &:hover
        background-color #2a83dd
        color: #ffffff
        transition: all 0.4s
        path.line
          fill: #ffffff
          transition: all 0.4s
        path.tre
          fill: none
          stroke: #ffffff
          transition: all 0.4s

.special-offer
  max-width 950px
  width: 100%
  position relative
  padding: 60px
  padding-top 55px
  img
    width: 100%
    object-fit: cover
    position absolute
    top: 0
    left: 0
.watch
  background-color #f1f7fd
  display: flex
  flex-direction column
  justify-content: center
  align-items: center
  padding-top 95px
  padding-bottom 92px
  padding-left: 108px
  padding-right: 87px
  &__heading
    margin-bottom 17px
  &__text
    margin-bottom 25px
    max-width: 230px
    text-align center
  img
    margin-bottom 22px
@media screen and (max-width: 1550px)
  .special-offer
    max-width: 830px
    padding-top: 42px
  .watch
    padding-top: 66px
    padding-bottom: 78px
    padding-left: 92px
    padding-right: 69px
  .special-offer img
    height: 100%
@media screen and (max-width: 1365px)
  .watch
    max-width 48%
    width: 100%
  .special-offer
    max-width 48%
    width: 100%

@media screen and (max-width: 868px)
  .special-offer
    padding: 20px
  .watch
    padding-left: 20px
    padding-right 20px
@media screen and (max-width: 767px)
  .special-offer
    max-width: 100%
    min-height 210px
  .offer .container
    flex-direction column
  .watch 
    max-width: 100%;
    margin-top: 20px;