.offer
  width: 100%
  height: auto
  background-color: #ffffff
  padding-top: 40px
  padding-bottom 40px
  .container
    display flex
    flex-direction row
    justify-content: space-between
  &-heading
    font-family "Inter", sans-serif
    font-weight 700
    font-size 30px
    line-height 36px
    position relative
    z-index 2
    margin-bottom 37px
    &__white
      color: #ffffff
    &__dark
      color: #000000
  &-link
    font-family "Inter", sans-serif
    font-size 11px
    font-weight 700
    text-transform uppercase
    padding: 17px 30px
    position relative
    z-index 2
    &__white
      background-color #ffffff
      color: #000000
    &__blue
      background-color $blue
      color: #ffffff
.special-offer
  max-width 950px
  width: 100%
  position relative
  padding: 60px
  padding-top 55px
  img
    width: 100%
    object-fit: cover
    position absolute
    top: 0
    left: 0
.watch
  background-color #f1f7fd
  display: flex
  flex-direction column
  justify-content: center
  align-items: center
  padding-top 95px
  padding-bottom 96px
  padding-left 120px
  padding-right: 102px
  &__heading
    margin-bottom 17px
  &__text
    margin-bottom 25px
    max-width: 230px
    text-align center
  img
    margin-bottom 22px
