.advantages
  img(src="img/contacts-tubes.jpg", alt="alt").advantages-back
  p.advantages-heading Преимуществом нашей компании является владение оперативной информацией о производстве
  .advantages-wrapper
    ul.advantages-list
      li.advantages-item
        img(src="img/advantages-check.png", alt="alt")
        p.common-text.common-text__white В наличие более 8000 тонн продукции на собственных складах.
      li.advantages-item
        img(src="img/advantages-check.png", alt="alt")
        p.common-text.common-text__white Сотрудничество с большинством трубных заводов в мире.
      li.advantages-item
        img(src="img/advantages-check.png", alt="alt")
        p.common-text.common-text__white Производство труб нестандартных размеров.
      li.advantages-item
        img(src="img/advantages-check.png", alt="alt")
        p.common-text.common-text__white Резка любых труб в размер.
    .advantages-main
      img(src="img/advantages-medal.png", alt="alt")
      p.common-text.common-text__white За время работы на рынке мы заслужили отличную репутацию, доверие и уважение наших поставщиков и покупателей. И постоянно делаем всё для увеличения эффективности обслуживания заказчиков.