.header__middle.main-display
  .video-container
    .video-wrapper
      img(src="img/mask.png", alt="alt").mask
      video(preload="" autoplay="autoplay" muted="muted" loop="loop" poster="img/main.png")
        source(src="video/video-main.mp4" type="video/mp4")
  .text-container
    .image-in-text
      h1.main-h1(style="background: url('img/background-text-main.png')") Крупнейший<br>поставщик<br> стальных труб
    p.common-text.common-text__black Сфера деятельности компании АО ТД «Кристалл» – оптовая и розничная торговля со склада трубами из разных марок стали. Наша задача — быть главным связующим элементом между производителями — отечественными и зарубежными и потребителями России, Беларуси и Казахстана.
