.header-top
  .logo.header-top__logo
    img(src="img/Logo_colors.svg", alt="логотип")
  nav.nav.header-top__nav
    .nav-info
      ul.nav-info__list.info-list
        li.info-list__item.nav-item
          a(href="").nav-item__href.header-nav__address Челябинск, ул. Кулибина, д.5, оф 407
            img(src="img/Pin.svg", alt="адрес")
        li.info-list__item.nav-item
          a(href="").nav-item__href.header-nav__email
            span tdkristall@bk.ru
            img(src="img/Mail.svg", alt="почта")
        li.info-list__item.nav-item
          a(href="").nav-item__href.header-nav__tel 8-800-700-7443
            img(src="img/Phone.svg", alt="телефон")
        li.info-list__item.nav-item
          a(href="").nav-item__href.header-nav__callback
            span Обратный звонок
    .nav-menu
      ul.nav-menu__list.nav-list
        li.nav-list__item.nav-item
          a(href="").nav-item__href Каталог труб в наличии
        li.nav-list__item.nav-item
          a(href="").nav-item__href О компании
        li.nav-list__item.nav-item
          a(href="").nav-item__href Склад онлайн
        li.nav-list__item.nav-item
          a(href="").nav-item__href Услуги
        li.nav-list__item.nav-item
          a(href="").nav-item__href Спецпредложение
        li.nav-list__item.nav-item
          a(href="").nav-item__href Контакты
