.container
  max-width: 1700px
  margin: 0 auto
  z-index 1
common-text()
  font-family "Inter", sans-serif
  font-size 15px
  font-weight 400
  line-height 23px
.common-text
  common-text()
  &__black
    color: #000000
  &__white
    color: #ffffff

.common-h2
  font-family: "Inter", sans-serif
  font-weight 700
  font-size 50px


.video-fix
  position absolute
  top: 50%
  left: 50%
  min-height: 100%
  height: auto
  min-width: 100%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  opacity: 1

.section
  z-index 10
  .container
    max-width 1440px
.footer
  z-index 10
  .container
    max-width 1440px
.video-container__fix
  position: fixed
  top: 50%
  left: 50%
  min-height: 100%
  height: auto
  min-width: 100%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  z-index: -1
  &::before
    content: ""
    position absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    background-color rgba(0, 0, 0, 0.5)
    z-index 1

@media screen and (max-width: 1760px)
  .container
    max-width: 1500px

@media screen and (max-width: 1500px)
  .container
    max-width: 1284px
  .section .container
    max-width: 1284px
  .footer .container
    max-width: 1284px
@media screen and (max-width: 1300px)
  .container
    max-width: 1120px
  .section .container
    max-width: 1120px
  .footer .container
    max-width: 1120px
@media(max-width: 1200px)
  .container
    max-width: 950px
  .section .container
    max-width: 950px
  .footer .container
    max-width: 950px
@media screen and (max-width: 1000px)
  .container
    max-width: 800px
  .section .container
    max-width: 800px
  .footer .container
    max-width: 800px
  .common-text
    font-size 14px
  .common-h2
    font-size 34px
@media screen and (max-width: 868px)
  .container
    max-width: 700px
  .section .container
    max-width: 700px
  .footer .container
    max-width: 700px
@media screen and (max-width: 767px)
  .container
    max-width: 550px
  .section .container
    max-width: 550px
  .footer .container
    max-width: 550px
@media screen and (max-width: 600px)
  .container
    max-width: 400px
  .section .container
    max-width: 400px
  .footer .container
    max-width: 400px
@media screen and (max-width: 450px)
  .container
    max-width: 370px
  .section .container
    max-width: 370px
  .footer .container
    max-width: 370px
@media screen and (max-width: 400px)
  .container
    max-width: 320px
  .section .container
    max-width: 320px
  .footer .container
    max-width: 320px
@media screen and (max-width: 340px)
  .container
    max-width: 300px
  .section .container
    max-width: 300px
  .footer .container
    max-width: 300px
@keyframes imgInText
  0% {
    width: 1005px
  }
  50% {
    width: 1250px
  }
  100% {
    width: 1005px
  }
@keyframes imgInText600
  0% {
    width: 1005px
  }
  50% {
    width: 1100px
  }
  100% {
    width: 1005px
  }
@keyframes videoOpening
  0% {
    width: 0px
    height: 0px
  }
  100% {
    width: 715px
    height: 724px
  }

@keyframes videoOpening1550px
  0% {
    width: 0px
    height: 0px
  }
  100% {
    width: 525px
    height: 525px
  }
@keyframes videoOpening1300px
  0% {
    width: 0px
    height: 0px
  }
  100% {
    width: 450px
    height: 426px
  }
@keyframes videoOpening1000px
  0% {
    width: 0px
    height: 0px
  }
  100% {
    width: 350px
    height: 331px
  }
@keyframes videoOpening450px
  0% {
    width: 0px
    height: 0px
  }
  100% {
    width: 300px
    height: 284px
  }
@keyframes arrowLink
  0% {
    left: 0px
    visibility visible
  }
  35% {
    left: 44px
    visibility hidden
  }
  50% {
    left: -44px
    visibility hidden
  }
  65% {
    left: -44px
    visibility visible
  }
  100% {
    left: 0px
    visibility visible
  }

@keyframes rotateY
  0% {
    transform rotateY(0deg)
  }
  25% {
    transform rotateY(90deg)
  }
  50% {
    transform rotateY(180deg)
  }
  75% {
    transform rotateY(270deg)
  }
  100% {
    transform rotateY(360deg)
  }

@keyframes top-down
  0% {
    top 0px
  }
  50% {
    top -20px
  }
  100% {
    top 0px
  }